apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  namespace: mysql
  labels:
    app: mysql-server
spec:
  selector:
    matchLabels:
      app: mysql-server
  template:
    metadata:
      namespace: mysql
      labels:
        app: mysql-server
    spec:
      hostPID: true
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      initContainers:
        - name: tls-bootstrap
          image: chiragk25/spire-mysql-tls-bootstrap:latest
          volumeMounts:
            - name: spire-agent-socket
              mountPath: /run/spire/sockets
              readOnly: true
            - name: server-certs
              mountPath: /spire/certs
      containers:
        - name: tls-reload
          image: chiragk25/spire-mysql-tls-reload:latest
          volumeMounts:
            - name: spire-agent-socket
              mountPath: /run/spire/sockets
              readOnly: true
            - name: server-certs
              mountPath: /spire/certs
        - image: mysql:8.1
          name: mysql
          args:
            - --defaults-file=/etc/mysql-cfg/mysql.cnf
          env:
            # Use secret in real usage
            - name: MYSQL_ROOT_PASSWORD
              value: password
          ports:
            - containerPort: 3306
              name: mysql
          volumeMounts:
            - name: mysql-persistent-storage
              mountPath: /var/lib/mysql
            - name: server-certs
              mountPath: /spire/certs
            - name: config-volume
              mountPath: /etc/mysql-cfg
      volumes:
        - name: mysql-persistent-storage
          persistentVolumeClaim:
            claimName: mysql-persistent-volume-claim
        - name: spire-agent-socket
          hostPath:
            path: /run/spire/sockets
            type: Directory
        - name: server-certs
          emptyDir: {}
        - name: config-volume
          configMap:
            name: mysql-config
